.container {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tag {
  width: 272px;
  display: flex;
  gap: 8px;
}

.marginBottom0 {
  margin-bottom: 0;
}
