.articleCard {
  width: 100%;
  min-height: 140px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  color: #1890ff;
  font-size: 20px;
}

.articleLeft {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.articleRight {
  display: flex;
  gap: 12px;
}

.spaceBetween {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 110px;
}

.articleTop {
  display: flex;
  justify-content: space-between;
}

.description {
  display: flex;
  justify-content: space-between;
}

.btnGroup {
  display: flex;
  gap: 8px;
}
